<h1>String Interpolation</h1>
<p>
  {{stringInterpolation}} || {{numberInterpolation}}
</p>

<h1>Property Binding</h1>
<input type="text" [value]="numberInterpolation">
<br>
<p [ngClass]="{redBorder: true}">Is this styled?</p>
<p [ngStyle]="{color: 'green'}">Is this styled?</p>

<h2>Testing My Self</h2>
<h3>changing DOM properity</h3>
<input type="text" value= "{{stringInterpolation}}">
<br>
<input type="text" [value]="numberInterpolation">
<br>
<p [ngClass]="{redBorder: true}">Is this styled again?</p>
<p [ngStyle]="{color: 'green'}">Is this Green?</p>